Source: ros-jazzy-gc-spl
Section: misc
Priority: optional
Maintainer: ijnek <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-jazzy-ament-copyright, ros-jazzy-ament-flake8, ros-jazzy-ament-pep257, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-gc-spl
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-construct, ros-jazzy-gc-spl-interfaces, ros-jazzy-rclpy, ros-jazzy-ros-workspace
Description: GameController-Robot communication in RoboCup SPL
